* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

.main-container {
    border: 2px solid bisque;
    margin-left: 35%;
    margin-right: 35%;
}
.display-container {
    display: flex;
    border: 2px solid plum;
    height: 50px;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.row-container {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 10%;
    align-items: center;
}

.item {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
